@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

#root {
    max-width: 1200px;
    margin: auto;
}

body {
    background: linear-gradient(45deg, #EDE4E0, #C8DBBE, #9F8772, #665A48);
    background-size: 300% 300%;
    animation: runGradient 15s ease infinite;
    margin: 0;
}

@keyframes runGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}